* {
    box-sizing: border-box;
}

html, body{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    max-width: 1300px;
    margin: auto;
}

main{
    padding-left: 25px;
    padding-right: 25px;
}

a{
    cursor:url(./images/cursor.cur), auto;
}


button{
    cursor: url(./images/cursor.cur), auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.3em;
    padding-left: 25px;
    padding-right: 25px;
}

h2{
    color:rgb(29 36 64);
    font-size: calc(1.5em + 1.4vw);
    margin-bottom: 15px;
}

h3{
    color: rgb(29 36 64);
    font-size: 2em;
    margin-bottom: 0.1em;
}
#logo-mobnav{
    display: flex;
    align-items: center;

}

#circle{
    background-color: white;
    width: 2em;
    height: 2em;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}

#logo-name{
    color: white;
}

nav {
    display: flex;
    font-size: 0.9em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    margin-right: 100px;
}


nav a {
    text-decoration: none;
    color: rgb(53 53 65);
    font-size: 0.86em;
    font-weight: 530;
    padding: 0 25px;
    transition:0.4s; 
    letter-spacing: 0.10em;
}

p {
    font-size: calc(1em + 0.2vw);
    color:rgb(150 151 155);
    line-height: 1.5em;
}

#contact{
    padding-right: 50px;
}
.mostrar-menu,
.esconder-menu{
    font-size:30px;
    cursor:pointer;
    display:none;
    transition:0.4s;
}

#logo-mobnav{
    display: none;
}

.mostrar-menu{
    order:1;
}

nav a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: rgb(226 104 101);
}

#check{
    display:none;
}

/* Responsive */
@media(max-width: 768px){
    /*header*/
    .mostrar-menu,
    .esconder-menu{
    display: block;
    }

    nav{
        position:fixed;
        width:100%;
        height: 100vh;
        background-color: rgb(40 40 65 / 93%);
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 0px;
    }

    #contact{
        padding-right: 25px;
    }

    nav a{
        display: block;
        padding: 20px;
        color: white;
    }

    .esconder-menu{
        position:absolute;
        top: 58px;
        right: 33px;
    }

    #check:checked ~ nav{
        right: 0;
    }

    #check:checked ~ .mostrar-menu{
        display: none;
    }

    /* portada */
    #portada{
    flex-direction: column-reverse;
    text-align: center;
    }

    #description-portada{
        display: flex;
        justify-content: center
    }

    #portada-derecha{
        margin-bottom: 2em;
    }

    #description-features{
        display: flex;
    }

}

#logo {
    align-content: center;

}

#button-red{
    background-color: rgb(255, 82, 82);
    border-color: rgb(255, 82, 82);
    color: white;
    border-radius: 5px;
    padding: 1em 2.4em;
    letter-spacing: 0.10em;
    font-size: 0.86em;
    border-style: solid;
    align-items: center;
    font-weight: bold;
}

#button-red:hover{
    background-color: white;
    border-color: rgb(226 104 101);
    color: rgb(226 104 101);
    font-weight: bold;
    border: 2px solid;
}

#portada {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
    margin-top: 3.5em;

}
#portada-izquierda{
width: 100%;
}
#portada-izquierda p{
    width: 85%;
}

#description-portada{
    margin-bottom: 30px;
}

#button-blue{
    background-color: rgb(84 101 223);
    border-color: rgb(84 101 223);
    border-radius: 5px;
    padding: 1.2em 2em;
    color: white;
    font-weight: bold;
    border-style: solid;
    margin-right: 1em;
    font-size: calc(0.7em + 0.2vw);
    margin-bottom: 10px;
}

#button-blue:hover{
    background-color: white;
    border-color: rgb(98 108 168);
    color: rgb(84 101 223);
    font-weight: bold;
    border: 2px solid;
}


#button-grey{
    background-color: rgb(247 247 247);
    border-color: white;
    padding: 1.2em 2.2em;
    color: rgb(88 88 95);
    font-weight: bold;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 1px 5px 10px 1px rgb(229 231 243);
    font-size: calc(0.7em + 0.2vw);
}

#button-grey:hover{
    background-color: white;
    border-color: rgb(93 93 102);
    color: rgb(93 93 102);
    font-weight: bold;
    border: 2px solid;
}

#portada-derecha{
    margin-top: 3em;
    width: 100%;
    position: relative;
}

#illustration-hero{
    max-width: 100%;
}


#portada-derecha::after{
    content: '';
    position: absolute;
    width: calc(16em + 17vw);
    height: calc(11em + 10vw);
    background-color: #5267df;
    bottom: -10px;
    right: -90px;
    border-top-left-radius: 160px;
    border-bottom-left-radius: 160px;
    border-top-right-radius: 100px;
    z-index: -1;
}

    
#features{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 4.9em;
}

#description-features{
    width: 45%;
    text-align: center;
}